<div class="form-section">
    <h2>Ordered Items</h2>
    <div class="receipt-area">
        <div class="receipt">
            <table>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="table-item">item1</td>
                    <td class="table-price">$price</td>
                    <td class="link-remove"><a href="#" class="icon-link"><i class="fas fa-times"></i></a></td>
                </tr>
                <tr>
                    <td>item2</td>
                    <td>$price</td>
                    <td><a href="#" class="icon-link"><i class="fas fa-times"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
   
